export STRAVA_CLIENT_ID=defineMe
export STRAVA_CLIENT_SECRET=defineMe
export STRAVA_REDIRECT_URI=defineMe
export STRAVA_ACCESS_TOKEN=just_stub_strava_api_not_working_without_it
export MONGOLAB_URI=defineMe
export SECRET=use_any_string_to_secure_client_jwt_token
export PORT=defineMe
