html {
  height: 100%;
}

body {
  min-height: 100%;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  text-align: center;
  height: 40px;
  color: #bdbdbd;
  border-top: 1px solid #e8e8e8;
  line-height: 40px;
  background-color: #f2f2f2;
}

.login {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-image: url('../images/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.login-btn {
  display: block;
  width: 400px;
  height: 96px;
  background-image: url('../images/btn_strava_connect.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-image: url('../images/logo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: -999px;
  vertical-align: middle;
  margin-right: 20px;
}


