html {
  height: 100%;
  font-size: 62.5%;
}

body {
  min-height: 100%;
}

.content-wrapper {
  position: relative;
  min-height: 100vh;
}

.login-btn {
  display: block;
  width: 400px;
  height: 96px;
  background-image: url('../images/btn_strava_connect.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner-text {
  color: #fbae17;
  display: inline-block;
  margin-left: 5px;
}

.spinner-bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
}

.spinner-bounceball:before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fbae17;
  transform-origin: 50%;
  animation: bounce 500ms alternate infinite ease;
}

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}
.nowrap {
  overflow: hidden;
  white-space: nowrap;
}



