html {
  height: 100%;
  font-size: 62.5%;
}

body {
  min-height: 100%;
}

.content-wrapper {
  min-height: 100vh;
}

.login-btn {
  display: block;
  width: 400px;
  height: 96px;
  background-image: url('../images/btn_strava_connect.png');
  background-repeat: no-repeat;
  background-size: cover;
}



