html {
  height: 100%;
}

body {
  min-height: 100%;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}

.footer {
  text-align: center;
  height: 40px;
  color: #bdbdbd;
  border-top: 1px solid #e8e8e8;
  line-height: 40px;
  background-color: #f2f2f2;
}


